<% provide :title, "Forgot Password" %>

<div class="custom-form">
  <div class="container">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3">
      <h1 class="mb-4 text-center">Forgot Password</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group mb-5">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="actions text-center mb-4">
          <%= f.submit "Request a password reset", { class: "btn" } %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>