<div class="search-form mx-auto">
  <div class="field form-group">
    <%= search_form_for(@q, url: search_posts_path) do |f| %>
      <div class="input-group">
        <% f.label :caption_cont %>
        <%= f.search_field :caption_cont, class: "form-control", placeholder: "投稿を検索" %>
      </div>
    <% end %>
  </div>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= search_users_path %>">ユーザー</a>
    </li>
  </ul>
</div>

<% if @posts.any? %>
  <div class="search-posts-container">
    <div class="post-cards search row">
      <% @posts.each do |post| %>
        <div class="post-card col-6 col-sm-4">
          <%= link_to image_tag(post.image.url, class: "post-card-img img-fluid", alt: "post image"), post_path(post) %>
          <div class="post-card-footer d-flex align-items-center">
            <% if post.user.avatar?%>
              <%= link_to image_tag(post.user.avatar.mini.url, size: "35x35", class: "rounded-circle z-depth-0",
                                    alt: "avatar image"), user_path(post.user), class: "mr-3" %>
            <% else %>
              <%= link_to image_tag("no_user.png", size: "35x35", class: "rounded-circle z-depth-0",
                                    alt: "avatar image"), user_path(post.user), class: "mr-3" %>
            <% end %>
            <div class="post-footer-names" style="line-height: 20px;">
              <%= link_to post.user.name, user_path(post.user), class: "post-footer-name" %><br>
              <%= link_to "@#{post.user.username}", user_path(post.user), class: "post-footer-username" %></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="post-cards-footer search">
      <%= paginate @posts %>
      <div class="loadmore-btn-wrapper p-0 d-flex">
        <button class="loadmore-btn btn active mx-auto">さらに表示</button>
      </div>
    </div>
  </div>
<% end %>