<%= render 'layouts/toast' %>

<div class="post-container no-gutters mx-sm-auto" style="max-width: 700px">
  <%= render 'posts/post_header', object: @post %>
  <div class="col img-col">
    <%= image_tag @post.image.url, size: "1100x1100", class: "img-fluid" %>
  </div>
  <div class="col">
    <%= render 'posts/post_body', object: @post %>
    <%= render 'posts/post_footer', object: @post %>
  </div>
</div>

<%= render 'posts/post_modal', object: @post %>