<% if user_signed_in? %>
  <!-- ナビゲーションバー小：sm未満（xs）で表示 -->
  <nav class="navbar navbar-expand navbar-light bg-transparent mb-3 d-sm-none">
    <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center" id="navbar-nav-xs">
        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Post</a>
        </li>
        <%= render 'layouts/dropdown' %>
      </ul>
    </div>
  </nav>

  <!-- ナビゲーションバー大：sm以上で表示 -->
  <nav class="navbar navbar-expand navbar-light bg-transparent mb-3 d-none d-sm-block">
    <div class="container">
      <%= link_to website_name, root_path, class: "navbar-brand ml-1" %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create Post</a>
          </li>
          <%= render 'layouts/dropdown' %>
        </ul>
      </div>
    </div>
  </nav>

<% else %>
  <!-- ナビゲーションバー：未ログイン状態で表示 -->
  <nav class="navbar navbar-expand navbar-light bg-transparent mb-3">
    <div class="container">
      <%= link_to website_name, root_path, class: "navbar-brand ml-1" %>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "signup-btn nav-link py-1 px-3 ml-2 mr-1" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
<% end %>