<nav class="navbar navbar-expand navbar-light mb-3">
  <div class="container">
    <%= link_to website_name, root_path, class: "navbar-brand font-weight-bold" %>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
          <% if current_user.avatar?%>
            <%= link_to image_tag(current_user.avatar.mini.url, class: "avatar-img rounded-circle z-depth-0",
                                  alt: "avatar image"), user_path(current_user), class: "nav-link p-0" %>
          <% else %>
            <%= link_to image_tag("no_user.png", class: "avatar-img rounded-circle z-depth-0",
                                  alt: "avatar image"), user_path(current_user), class: "nav-link p-0" %>
          <% end %>
            
          </li>
          <li class="nav-item">
            <%= link_to "投稿する", new_post_path, class: "btn btn-dark nav-btn", style: "background-color: #23272b" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link active px-0 mr-sm-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-white nav-btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
 
