<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% unless user_signed_in? %>
      <%= render 'layouts/signin_as_guest' %>
    <% end %>
    <%= render 'layouts/header' %>
    <div class="container mb-5">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>  
  </body>
</html>
